<html>
    <head>
        <title>Gas cost calculator</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
        </head>
    <b></b><h1>Gas cost calculator</h1></b>
    <p>This web app calculates the optimal split of gasoline costs in a trip, following the algorithm:<br>
    $$c_i = {(1-p_i)x \over n}+{\sum_{j \ne i}^n} {p_jx \over n(n-1)}$$ $$= {x(1-p_i) \over (n-1)} $$
    where \(c_i\) is the cost the individual pays, \(x\) is the cost of total cost of gas, \(n\) is the number of passengers, \(p_i\) represents the percentage the individual drove on the trip, and \(p_j\) is the percentage each other passenger drove on the trip.<br>
    The logic is that each passenger pays their original cost allocation minus costs equal to the proportion they spent driving, plus the proportioned costs allocated from all other drivers (split among all other passengers for each driver).
    </p>
    <body>
        <b>Questions to calculate cost:</b>
        <form action="/" method="POST">
        What was the total cost of gas?
        <input type="text" name="total_cost"><br>
        How many passengers were there?
        <input type="text" name="n_pass"><br>
        What percentage of the trip did you drive?
        <input type="text" name="pi"><br>
        <button type="submit" value="button" onclick="return getData()">Calculate!</button>    
        </form>
        {%if Cost%}
        <p>You pay ${{Cost}}.<br>
        </p>
        {%endif%}
    </body>

</html>